

.main-image {
  background: url(https://wallpaperaccess.com/full/84248.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 80vh;
  position: relative;
  background-attachment: fixed;
}

.card-title {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.display-3 {
  text-align: center;
}

.lead {
  text-align: center;
}

.my-2 {
  text-align: center;
}